* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}

.active {
  background: white;
  color: black;
  border-radius: 0.2rem;
  padding: 0.8rem;
  /* border-right: 4px solid white; */
  /* background: rgb(45, 51, 89); */
}

.small-active {
  background: white;
  border: solid 2px #c51c29;
  color: black;
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
